


.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.social-list-item {
    list-style-type: none;
}

.social-list-item-footer {
    list-style-type: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-header {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-navigation {
    display: flex;
    align-items: center;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo-word {
    color: #2e2f42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px;
    position: relative;
    color: #404bbf;
}


.navigation {
    display: flex;
    gap: 40px;
    margin-right: auto;
}

.navigation-link {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-link {
    position: relative;
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.stripe:hover::after {
    content: "";
    position: absolute;
    display: block;
    width: 48px;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}

.adress-text {
    font-style: normal;
}

.contacts {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}



.hero {
    max-width: 1440px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.solutions {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    height: 120px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order {
    /* Button Text */

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    color: var(--WHITE, #fff);
    background-color: #4d5ae5;
    padding: 16px 32px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.push {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.push:hover,
.push:focus {
    background: var(--OCEAN, #404bbf);
}



.benefits-list {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2e2f42);
    margin-bottom: 8px;
}

.benefits-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.benefits-form {
    display: flex;
    gap: 24px;
}

.benefits-form-list {
    width: calc((100% - 72px) / 4);
}

.sprite-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
}

.logo-icon {
    margin: 24px 100px;
}



.team {
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2e2f42);
    margin-bottom: 72px;
}

.team-group {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2e2f42);
    margin-bottom: 8px;
    text-align: center;
}

.section-layers {
    background: var(--CLOUD, #f4f4fd);
    max-width: 1440px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}

.profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    text-align: center;
}

.photo-layer {
    background: var(--WHITE, #fff);

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.list-team-group {
    display: flex;
    gap: 24px;
}

.profession-text {
    padding-top: 32px;
    padding-bottom: 32px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.social-list-icon {
    fill: #f4f4fd;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}


.portfolio {
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2e2f42);
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    width: 412px;
}

.possibilities {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.possibilities-item {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.possibilities-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.possibilities-layer {
    position: relative;
    width: 360px;
    overflow: hidden;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background: var(--WHITE, #fff);
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.possibilities-layer:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.possibilities-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover .overlay-text {
    transform: translateY(0%);
}


.layers {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background: #2e2f42;
    padding: 100px 0;
}

.inline {
    display: flex;
    align-items: baseline;
}

.logo-white {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    color: #f4f4fd;
}

.text-solution {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #f4f4fd);
    max-width: 264px;
}

.text {
    display: inline-block;
    margin-bottom: 16px;
}

.social-media {
    color: var(--WHITE, #fff);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;

    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
}

.social-list-item-footer {
    width: 40px;
    height: 40px;
}

.social-list-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon-footer {
    fill: #f4f4fd;
}

.footer-left {
    margin-right: 120px;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: #31d0aa;
}

